---
import Layout from '../layouts/Layout.astro';
import Hearts, { DayHearts, MonthHearts } from '../components/hearts.tsx';
import InfoSection from '../components/InfoSection.tsx';
---

<Layout title='Love declaration'>
    <main class='flex flex-col'>
        <section class='h-screen flex flex-col'>
            <section class='p-2 basis-1/6 w-full h-full grid place-content-center bg-rose-200'>
                <h1
                    class='text-center uppercase text-lg md:text-xl lg:text-2xl font-semibold text-rose-900'
                >
                    En melding til HELE verden!
                </h1>
                <p class='text-rose-900 uppercase font-semibold'>Fra Anders Øksendal Larsen</p>
            </section>
            <section class='p-2 basis-2/6 grid place-content-center bg-rose-900'>
                <h2 class='text-center uppercase text-3xl md:text-6xl font-bold text-rose-200'>
                    Jeg elsker deg <br /> Mirjam Vingmark Songedal!
                </h2>
            </section>
            <InfoSection client:load />
        </section>
        <section class='h-auto grid grid-cols-1'>
            <section class='py-10 w-full grid place-content-center bg-rose-900 text-rose-200'>
                <h3
                    id='year-hearts'
                    class='p-2 text-center uppercase text-xl md:text-2xl lg:text-4xl font-bold text-rose-200'
                >
                    Her er ett hjerte for hvert år vi har vært gift!
                </h3>
                <Hearts client:load />
            </section>
            <section class='py-10 w-full grid place-content-center bg-rose-900 text-rose-200'>
                <h3
                    class='p-2 text-center uppercase text-xl md:text-2xl lg:text-4xl font-bold text-rose-200'
                >
                    Her er ett hjerte for hver måned vi har vært gift!
                </h3>
                <MonthHearts client:idle />
            </section>
            <section class='py-10 w-full grid place-content-center bg-rose-900'>
                <h3
                    class='p-2 text-center uppercase text-xl md:text-2xl lg:text-4xl font-bold text-rose-200'
                >
                    Her er ett hjerte for hver dag vi har vært gift!
                </h3>
                <div class='h-auto w-full'>
                    <DayHearts client:idle />
                </div>
            </section>
        </section>
    </main>
</Layout>
