---
import Layout from '../layouts/Layout.astro';
import Hearts, { daysGone, DayHearts, MonthHearts } from '../components/hearts.tsx';
---

<script></script>

<Layout title='Love declaration'>
    <main class='flex flex-col'>
        <section class='h-screen w-screen flex flex-col'>
            <section class='p-2 basis-1/5 w-full h-full grid place-content-center bg-rose-200'>
                <h1
                    class='text-center uppercase text-lg md:text-xl lg:text-2xl font-semibold text-rose-900'
                >
                    En melding til HELE verden!
                </h1>
            </section>
            <section class='p-2 basis-2/5 grid place-content-center bg-rose-900'>
                <h2 class='text-center uppercase text-3xl md:text-6xl font-bold text-rose-200'>
                    Jeg elsker deg <br /> Mirjam Vingmark Songedal!
                </h2>
            </section>
            <section class='p-2 basis-2/5 w-full h-full grid bg-rose-200 text-rose-900'>
                <h2 class='self-center text-center uppercase text-3xl md:text-6xl font-bold'>
                    Kjære kjærestekona mi Nå har vi vært gift i <span class='gradient-text'
                        >{daysGone}</span
                    > dager!
                </h2>
                <div class='pb-4 text-4xl font-bold justify-self-center self-end'>
                    <svg width='75' height='75' stroke='firebrick'>
                        <circle
                            cx='37.5'
                            cy='37.5'
                            r='26.25'
                            stroke='black'
                            stroke-width='0.75'
                            stroke='firebrick'
                            fill='none'></circle>
                        <path
                            d='M 37.5 48.75 L 26.25 37.5 L 30 37.5 L 30 30 L 45 30 L 45 37.5 L 48.75 37.5 Z'
                            fill='firebrick'
                            stroke='firebrick'></path>
                    </svg>
                </div>
            </section>
        </section>
        <section class='h-auto w-screen flex flex-col'>
            <section class='p-3 bg-rose-900 text-rose-200'>
                <h3
                    class='p-2 text-center uppercase text-xl md:text-2xl lg:text-4xl font-bold text-rose-200'
                >
                    Her er ett hjerte for hvert år vi har vært gift!
                </h3>
                <Hearts client:load />
            </section>
            <section class='p-3 bg-rose-900 text-rose-200'>
                <h3
                    class='p-2 text-center uppercase text-xl md:text-2xl lg:text-4xl font-bold text-rose-200'
                >
                    Her er ett hjerte for hver måned vi har vært gift!
                </h3>
                <MonthHearts client:idle />
            </section>
            <section class='p-5 grid place-content-center bg-rose-900'>
                <h3
                    class='p-2 text-center uppercase text-xl md:text-2xl lg:text-4xl font-bold text-rose-200'
                >
                    Her er ett hjerte for hver dag vi har vært gift!
                </h3>
                <DayHearts client:idle />
            </section>
        </section>
    </main>
</Layout>
